@import '../_variables';

.categories {
    ul {
        li {
            padding: 0;
            margin: 0;
            @include noselect();

            button {
                background-color: #f9f9f9;
                padding: 8px 24px;
                border-radius: 30px;
                font-weight: bold;
                cursor: pointer;
                transition: background-color 0.1s ease-in-out;

                &:focus {
                    outline: 2px solid #000;
                }

                &:hover {
                    background-color: darken(#f9f9f9, 2%);
                }

                &:active {
                    background-color: darken(#f9f9f9, 5%);
                }

                &.active {
                    background-color: #282828;
                    color: #fff;

                    &:focus {
                        outline: 2px solid red;
                    }
                }
            }
        }
    }
}
