@import '../_variables';

.categories {
    ul {
        display: flex;

        li {
            padding: 0;
            margin: 0;
            margin-right: 10px;
            @include noselect();

            &:hover {
                background-color: darken(#f9f9f9, 2%);
            }

            &:active {
                background-color: darken(#f9f9f9, 5%);
            }

            &.active {
                button {
                    background-color: #282828;
                    color: #fff;

                    &:focus {
                        outline: 2px solid red;
                    }
                }
            }

            button {
                background-color: #f9f9f9;
                padding: 13px 30px;
                border-radius: 30px;
                font-weight: bold;
                cursor: pointer;
                transition: background-color 0.1s ease-in-out;

                &:focus {
                    outline: 2px solid #000;
                }
            }
        }
    }
}
